*{
	padding: 0px;
	margin: 0px;
}

body{
	background: #FFF;
	font-family: 'Roboto',sans-serif;
}
a,a:hover{
	text-decoration: none;
}
section{
	width: 100%;
	height: 100%;
	position: relative;
	float: left;
}
nav{	
	width: 100%;
	height: 61px;
	background: #fff;
	position: fixed;
	float: left;
	z-index: 9;
}


.right-menu-btn{	
	display: inline-block;
	top: 0px;
	float:right;
	padding:18px 20px; 
	background: #fff;
}

.nav-container{
	position: relative;
	float: right;
	background: #fff;
	padding: 17px 30px;
	text-align: right;
	right: -435px;
	transition:0.3s; 
}
.active{
	right: 0px;
}
.off {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.40);
	position: fixed;
	z-index: 2;
	transition: 0.8s;
 }

.title-box{
	position: relative;
	float: left;
	width: 100%;
	height: 350px;
	padding: 30px 0px;
	background: #fff;
}
.title-heading{
	font-size: 40px;
	color: #000;
	font-weight: bold;
}
.title-link{
	padding: 30px 160px;
	background:#8253dc; 
	color: #fff;
	position: relative;
	top: 75px;
	float: left;
	z-index: 1;
}
.title-link:hover{
	background: #6031b9;
	color: #fff;
}

.cover-img{
	position: relative;
	float: left;
	width: 100%;
	height: 100vh;
	background: #eee url('');
	background-size: cover;
	
}
.menu-top{
     width: 100%;
     height: 70px;
     background: #8253dc;
     position: fixed;
     float: left;
     -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; 
     z-index: 3;
}

nav{
     width: 250px;
	height: 100vh;
	background: #fff;
     /* background: #24292e; */
     position: fixed;
     float: left;
     right: -250px;
     transition: 0.5s;
     -webkit-transition: 0.3s;
     z-index: 999;
     top:70px;
}
.sidenav{
     list-style: none;
     padding: 0px;
     margin: 0px;
}
.sidenav li{
     position: relative;
     padding: 0px;
     margin: 0px;
}
.sidenav li a{
     display: block;
     padding: 15px 0px;
     text-decoration: none;
     text-transform: uppercase;
     color: #333;
     text-align: left;
	padding-left: 20px;
	font-weight: bold;
	border-left: 4px solid #fff;
	transition: 0.2s;
}
.sidenav li a:hover{
	/* background: #3b3e42;
	background: #eee; */
	color: #6031b9;
	border-left: 4px solid #6031b9;
}
.active{
     right: 0px;
}

.hum-btn{
	color: #fff;
	width: 70px;
     height: 100%;
     padding: 10px 0px;
     background:transparent;
     cursor: pointer;
     transition: 0.3s;
	-webkit-transition: 0.3s;
	position: relative;
	float: right;
	top: 0px;
}

.hum-btn span{
     width: 20px;
     height: 3px;
     display: block;
     background: #fff;
     margin-top: 7px;
	transition: 0.2s;
	position: relative;
	float: right;
	top: 8px;
}
.hum-btn span:nth-child(1){
     margin-top:0px; 
     width: 20px;
}
.hum-btn span:nth-child(2){
     width: 25px;
}
.hum-btn:hover span:nth-child(3){
     width:  33px;
}

.brand-icon{
	padding:22px 30px; 
	display: inline-block;
	margin-top: 0px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
}
.brand-icon:hover{
	color: #eee!important;
	background: #8253dc;
	border-bottom: 2px solid #fff;
}

.search1{
	padding: 12px;
	width: 90%;
	/* margin: 10px;
	width: 220px; */
	/* background:transparent ;
	border: 0px;
	color: #fff;
	width: 80%; */
	border-radius:3px;
	border: 0px; 
}

.searchicon{
	color: #fff;
	font-size: 20px;
}
.org{
	background: transparent;
	padding: 10px;
	border: 2px solid var(--white);
	color: #fff;
	margin:13px;
}
.org:hover{
	background: #fff;
	color: #8253dc!important;
}
.input_bar{
	border: 0px !important;
	border-radius:0px;
	border-bottom: 1px solid #CCC!important;
	transition: 0.4s;
}
.input_bar:hover{
	border-bottom: 1px solid #999!important;
}
.input_bar:focus{
	border-bottom: 1px solid #8253dc!important;
}
:focus{
	outline: 0px !important;
	box-shadow: 0px 0px 0px !important;
}
/*icon*/
.lg{
	color: slateblue;
	font-size: 30px;
}

/*cover img*/
.small_cover{
	height: 400px;
}

/*happy_client*/
.happy_client{
	width:200px;
	padding: 8px 20px;
	background: #fff;
	border: 2px solid #6031b9;
	border-radius: 50px;	
	font-size:18px;
	text-align: left;
	display: block;
	color: #6031b9;
	margin: 0 auto;
	transition: 0.3s;
}
.happy_client:hover{
	background: #6031b9;
	color: #fff;
}
.custom_btn{
	background:#6031b9;
	border: 2px solid #6031b9;
	color: #fff;	border-radius: 50px;
	padding: 10px 30px;
}
.custom_btn:hover{
	background: #EEE;
	border: 2px solid #6031b9;
	color: #6031b9;

}
footer{	
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background: #10011f;
	color: #fff;
	padding: 50px;
}
footer h1{
	font-size:20px;
	font-weight: bold;
	text-align: center;
}
footer ul{
	list-style-type: none;
	text-align: center;
}
footer ul li a{
	color:#fff;
	text-decoration: none;
}
