body{
    font-size: 13px;
    font-family: 'Roboto',sans-serif!important;
    -webkit-font-smoothing: antialiased;
}
a,a:hover{
    text-decoration: none !important;
}
:focus{
    outline-style: 0px !important;
    outline: 0px !important;
}
::-moz-selection{
    background: #333;
    color: #fff;
}
::selection{
    background: #333;
    color: #fff;
}
ul li a{
    font-size: 12px;
    font-weight: 500;
}
nav{
     width: 250px;
     height: 100vh;
     background: #013243;
     position: fixed;
     float: left;
     left: -250px;
     transition: 0.5s;
     -webkit-transition: 0.3s;
     z-index: 999;
     top:70px;
}
.active{
     left: 0px;
}
.content{
     width: 100%;
     height: 100%;
     background: #fff;
     padding: 80px 0px;
}
.menu-top{
     width: 100%;
     height: 70px;
     background: #19B5FE;
     position: fixed;
     float: left;
     -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; 
     z-index: 2;
}
.hum-btn{
     width: 250px;
     height: 70px;
     padding: 10px 0px;
     background: #19B5FE;
     cursor: pointer;
     transition: 0.3s;
     -webkit-transition: 0.3s;
}
.hum-btn:hover{
     background: #5DCAFE;
}
.on{
    background: #5DCAFE;
}
.on span:nth-child(3){
    width:  33px;
}
.hum-btn span{
     width: 20px;
     height: 3px;
     display: block;
     background: #fff;
     position: relative;
     margin-top: 7px;
     transition: 0.2s;
}
.hum-btn span:nth-child(1){
     margin-top:0px; 
     width: 20px;
}
.hum-btn span:nth-child(2){
     width: 25px;
}
.hum-btn:hover span:nth-child(3){
     width:  33px;
}
.title{
     font-size: 20px;
     padding-top: 0px;
     position: relative;
     top: -22px;
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-size: 15px;
     font-weight: 600
}
.sidenav{
     list-style: none;
     padding: 0px;
     margin: 0px;
}
.sidenav li{
     position: relative;
     padding: 0px;
     margin: 0px;
}
.sidenav li a{
     display: block;
     padding: 15px 0px;
     text-decoration: none;
     text-transform: uppercase;
     color: #fff;
     text-align: left;
     padding-left: 20px;
}
.sidenav li.active,.sidenav li a:hover{
     background: #051c24;
}
.hero{
    width: 100%;
    height: 300px;
    background: #fff url('https://fontawesome.com/images/bg-sprinkles-92441ec1dadd3a5fd51c0001b5c611e9.svg?vsn=d');
    background-size: cover;
    background-position: center center; 
    position: relative;
    z-index: 0;
}
/* Time & Weather div*/
    .time{
        width: 50%;
        display: inline-block;
        background: transparent; 
        padding: 20px 20px;
        position: relative;
        animation: slide 0.5s ease-out;
    }
    .time big{
        font-size: 40px;
        font-weight: bold;
        color: #19B5FE;
    }
    .time small{
        font-size: 15px;
        padding-left: 5px;
        font-weight: bold;
        color: #19B5FE;
    }
    i{
            font-style: normal;
    }
    .time .i{
        font-size: 30px;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        left: -28px;
        top: -17px;
        color: #000;
    }
    .time div{
        width: 2px;
        height: 30px;
        background: #000;
        position: relative;
        display: inline-block;
        left: -20px;

    }
    .time em{
        font-style: normal;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        top: -8px;
        left: -10px;
        color: #000;

    }
/* Time & Weather div*/

.off{
    width: 100%;
    height: 100vh;
    background:rgba(255, 255, 255, 0.80);
    position: fixed;
    z-index: 1;
    transition: 0.8s;
}
.hr{
    width: 85%;
    height: 1px;
    background:#888; 
    position: relative;
    margin: 0 auto;
}
label{
    width: 100%;
    display: block;
    display: inline-block;
    clear: both;
    background: transparent;
    padding: 20px;
    text-align: left;
    color: #999;
}
label input,label select{
    width: 100%;
    margin-top: 20px;
    display: block;
    height: 40px;
    border: 0px;
    padding-left: 17px;
    border-bottom: 0px solid #999;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #555;
    font-size: 14px!important;
}
:-moz-placeholder,:-webkit-placeholder{
    color: #444444;
}
label select{
    cursor: pointer;
    background: url('../img/down.png') 98% / 19% no-repeat ;
    background-size: 2%;
    color: #222;
}
label select:focus{
    outline: 0;
}
label.small{
  width: 100px!important;
  margin-left: -20px;
  background:#fff;
}
.custom-btn{
    padding: 10px 34px;
    border: 0px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.submit{
    background: #19B5FE;
    border-radius:3px; 
    border: 2px solid #19B5FE;
}
.submit:hover{
    background: #fff;   
    border: 2px solid #19B5FE;
    color: #19B5FE;
}
.error_box{
    width: 100%;
    padding: 15px 20px;
    background: #ff2626;
    position: relative;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
    text-align: left;
}
.green{
    width: 100%;
    position: relative;
    padding: 15px 20px;
    background:#22d83d!important;
    z-index: 1;   border-radius: 5px;
    color: #fff;
    text-align: left;
  }
label span.span{
    color: red!important;
  }

  
table{
    width: 100%;
    border:0px;
    background: #FFF!important;
    text-align: justify-all!important;
  }
  table tr{
    border-bottom: 1px solid #eee;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main tr:hover{
    background: #EEE;
  }
  table tr:nth-child(1){
    box-shadow: 0px 2px 5px #eee;
  }
  table tr:hover:nth-child(1){
   background:#fff; 
  }
  table tr th{
    padding: 15px 30px;
    padding-top: 30px;
  }
  table td{
    padding: 18px 30px;
  }
  table tr.white{background:#fff!important;border:0px;}
  table tr td a{
    display: block;
  }

  table tr td a:hover table span{
    background: #333;
  }

  .no-background{
    background: #fff!important;
  }
  table.no_padd td,table.no_padd th{
    padding-left: 0px !important;
    text-align: center;
  }
.bar{
    width: 100%;
    height: auto;
    background: #fff;
}

  .cards_p {
      font-size: 4rem;
      font-weight: 500;
      color: #4186ff!important;
      text-align: end;

  }




  @keyframes slide{
    0%{
        top: 30px;
        opacity: 0.1;
    }
    100%{
        top: 0px;
        opacity: 0.9;
    }
}
.show_print{
    display: none;
}
@media print{
    .hide_print {display: none;}
    .show_print{display: block;}
   }