:root{
	--theme-color :#370c63;
}
*{
	padding: 0px;
	margin: 0px;
}

.sidebar{
	position: fixed;
	margin-top: 0px;
	width: 250px;
	padding-top: 70px;
	height: 100vh;
	color: #fff;
	background: #333;
	z-index: 1;
	overflow-y: scroll;
}

/* panel body */
.panel-body ul{
	background: #fff;
}
.panel-body ul li a{	
    color: #000;
    padding: 6px;
    display: block;
    padding-left: 30px;
	transition: 0.5s;
}


.panel-body ul li a:hover{	
	background: rgba(0,0,0,0.7);
	color:#fff;
}

.contents{
	/* padding-left:250px; */
	padding:70px 0px 1px 250px;
}
			
	#style-3::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		background-color: #F5F5F5;
	}

	#style-3::-webkit-scrollbar
	{
		width: 6px;
		background-color: #F5F5F5;
	}

	#style-3::-webkit-scrollbar-thumb
	{
		background-color: #000000;
	}
		*{
	margin: 0px;
	padding: 0px;
	}

	html {
	height: 100%;
	}

	body {
	position: relative;
	min-height: 100%;
	}
	footer{
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: calc(100% - 250px);
	}


	body{
		background: #FFF;
		font-family: 'Roboto',sans-serif;
	}
	a,a:hover{
		text-decoration: none;
	}
	section{
		width: 100%;
		height: 100%;
		position: relative;
		float: left;
	}
	nav{	
		width: 100%;
		height: 61px;
		background: #fff;
		position: fixed;
		float: left;
		z-index: 9;
	}


.right-menu-btn{	
	display: inline-block;
	top: 0px;
	float:right;
	padding:18px 20px; 
	background: #fff;
}

.nav-container{
	position: relative;
	float: right;
	background: #fff;
	padding: 17px 30px;
	text-align: right;
	right: -435px;
	transition:0.3s; 
}
.active{
	right: 0px;
}
.off {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.40);
	position: fixed;
	z-index: 2;
	transition: 0.8s;
 }

.title-box{
	width: 100%;
	position: relative;
	float: left;
	height: auto;
	padding: 40px 0px;
	background: #f2f2f2;
}
.title-heading{
	font-size: 40px;
	color: #000;
	font-weight: bold;
}
.title-link{
	padding: 20px 100px;
	background:#370c63; 
	color: #fff;
	position: relative;
	top: 40px;
	z-index: 1;
	border-radius:500px; 
	font-size: 18px;
}
.title-link:hover{
	background: #6031b9;
	color: #fff;
}

.cover-img{
	position: relative;
	float: left;
	width: 100%;
	height: 500px;
}
.computer{
	background: #eee url('https://images.pexels.com/photos/845451/pexels-photo-845451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-position: center center;	
}
.lg_banner{
	background: #eee url('https://3blaws.s3.amazonaws.com/images/LG_World_Environment_Day_Video_on_NY_Times_Square_120140603224629885.jpg.jpg');
	background-size: cover;
	background-position: center top;	
}
.dell_banner{
	background: #eee url('https://images.pexels.com/photos/331788/pexels-photo-331788.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-position: center bottom;	
	
}
.server_banner{

	background: #eee url('https://images.pexels.com/photos/442150/pexels-photo-442150.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	background-position: center center;	
}


.small_cover{
	height: 400px;
}


.menu-top{
     width: 100%;
     height: 70px;
     background: #370c63;
     position: fixed;
     float: left;
     -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; 
     z-index: 3;
}

nav{
     width: 250px;
	height: 100vh;
	background: #fff;
     /* background: #24292e; */
     position: fixed;
     float: left;
     right: -250px;
     transition: 0.5s;
     -webkit-transition: 0.3s;
     z-index: 999;
     top:70px;
}
.sidenav{
     list-style: none;
     padding: 0px;
     margin: 0px;
}
.sidenav li{
     position: relative;
     padding: 0px;
     margin: 0px;
}
.sidenav li a{
     display: block;
     padding: 15px 0px;
     text-decoration: none;
     text-transform: uppercase;
     color: #333;
     text-align: left;
	padding-left: 20px;
	font-weight: bold;
	border-left: 4px solid #fff;
	transition: 0.2s;
}
.sidenav li a:hover{
	/* background: #3b3e42;
	background: #eee; */
	color: #6031b9;
	border-left: 4px solid #6031b9;
}
.active{
     right: 0px;
}

.hum-btn{
	color: #fff;
	width: 70px;
     height: 100%;
     padding: 10px 0px;
     background:transparent;
     cursor: pointer;
     transition: 0.3s;
	-webkit-transition: 0.3s;
	  position: absolute;
    top: 0px;
    right: 0px
}

.hum-btn span{
     width: 20px;
     height: 3px;
     display: block;
     background: #fff;
     margin-top: 7px;
	transition: 0.2s;
	position: relative;
	float: right;
	top: 8px;
}
.hum-btn span:nth-child(1){
     margin-top:0px; 
     width: 20px;
}
.hum-btn span:nth-child(2){
     width: 25px;
}
.hum-btn:hover span:nth-child(3){
     width:  33px;
}

.brand-icon{
	padding:22px 35px; 
	display: inline-block;
	margin-top: 0px;
	color: #fff;
	text-transform: uppercase;
	border-bottom: 3px solid transparent;
}
.brand-icon:hover{
	color: #eee!important;
	background: #370c63;
	border-bottom: 3px solid #fff;
}



.search1{
	padding: 12px;
	width: 90%;
	/* margin: 10px;
	width: 220px; */
	/* background:transparent ;
	border: 0px;
	color: #fff;
	width: 80%; */
	border-radius:50px;
	border: 0px;
	padding-left: 20px;
}
.search-btn{
	padding: 12px 20px;
	border-radius: 0px 50px 50px 0px;
	border: 0px;
	position: absolute;
	right: 102px;
	cursor: pointer;
	background: #fff;
	color: rgb(149, 22, 199);
	border-left:1px solid #eee;
}

.searchicon{
	color: #fff;
	font-size: 20px;
}
.org{
	background: transparent;
	padding: 10px 15px;;
	border: 2px solid var(--white);
	color: #fff;
	margin:13px;
	border-radius: 50px;
}
.org:hover{
	background: #fff;
	color: #370c63!important;
}
/*for hiding  search bar and get stardted button*/
@media(max-width: 995px){
	.search1,.org{
		display: none;
	}
}
@media(max-width: 720px){
	.title-link{
		padding:20px 25px;
		font-size: 13px;
		font-weight: bold;
		top: 20px;
	}
    
}

.input_bar{
	border: 0px !important;
	border-radius:0px;
	border-bottom: 2px solid #CCC!important;
	transition: 0.4s;
	background: transparent;
}
.input_bar:hover{
	border-bottom: 2px solid #999!important;
	background: transparent;
}
.input_bar:focus{
	border-bottom: 2px solid #370c63!important;
	background: transparent;
}
:focus{
	outline: 0px !important;
	box-shadow: 0px 0px 0px !important;
}
/*icon*/
.lg{
	color: slateblue;
	font-size: 30px;
}

/*happy_client*/
.happy_client{
	width:200px;
	padding: 8px 20px;
	background: #fff;
	border: 2px solid #6031b9;
	border-radius: 50px;	
	font-size:18px;
	text-align: left;
	display: block;
	color: #6031b9;
	margin: 0 auto;
	transition: 0.3s;
}
.happy_client:hover{
	background: #6031b9;
	color: #fff;
}
.custom_btn{
	background:#6031b9;
	border: 2px solid #6031b9;
	color: #fff;	border-radius: 50px;
	padding: 10px 30px;
}
.custom_btn:hover{
	background: #EEE;
	border: 2px solid #6031b9;
	color: #6031b9;

}
footer{	
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background: #10011f;
	color: #fff;
	padding: 50px;
}
footer h1{
	font-size:20px;
	font-weight: bold;
	text-align: center;
}
footer ul{
	list-style-type: none;
	text-align: center;
}
footer ul li a{
	color:#fff;
	text-decoration: none;
}
#productSection{
	padding:50px;
}
#productSection .product-box{
	border: 2px solid #eee;
	height: auto;
	width: 100%;
	padding: 15px;
}

#productSection .product-box .img{
	width: 100%;
	height: 250px;
	background: #ccc;
}

#productSection .product-box h2{
	margin:0px;
	padding:10px;
	font-size: 20px;
	color: #555;
	margin-top: 15px;
}
#productSection .product-box .img img{
	width: inherit;
	height:inherit;

}

hr{
	height: 2px;
	width:30%;
	background: #fff;
	margin: 20px 0px;
}

/*footer ui*/
footer h5{
text-transform: uppercase;
letter-spacing: 2px;
font-weight: 300;
}
footer ul li a{
	line-height: 28px;
	color: #FFF;
}
@media(max-width: 720px){
	footer ul li a{
		line-height: 45px;
	}
}
footer ul li a:hover,footer ul li a:focus{
 	color:#999;
}

/*For subscribe form style*/
.sub_in input{
	width: 100%;
	display: inline-block;
	border: 0px;
	padding: 10px 30px;
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	box-sizing: border-box;
	padding-left: 12px;
	border-radius:500px; 
	
}
.sub_in button{
	border: 0px;
	padding: 10px 30px;
	border-radius:500px; 
	cursor: pointer;
	background: #da3535;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	border: 2px solid #da3535;
	transition: 0.2s;
}
.sub_in button:hover, .sub_in button:focus{
	background: hsl(0, 69%, 42%);
	background: transparent;
	border: 2px solid #da3535;	
}


#catagory{
	margin-top:70px;
	background:#7040cc;
	background:#fff;
	border-bottom: 1px solid #eee;

	
}
	#catagory ul{
		text-align:center;
		margin:0px;
		transition: 0.5s;
	}
	#catagory ul li{
		display: inline-block;
	}
	#catagory ul li a{
		display: block;
		padding: 10px 40px;
		color:#370c63;
	}

	#catagory ul li ul{
		position: absolute;
		display: none;
		background: #fff;
		z-index: 2;
		width: 250px;
		transition: 0.5s;
		box-shadow: 0px 0px 6px -1px #ccc;
	}
	
	#catagory ul li:hover ul {
		display: block;
	}
	
	#catagory ul li:hover a{
	}
	#catagory ul li ul li{
		display: block;			
	}
	
	#catagory ul li ul li a{
		padding: 8px 40px;
		text-align: center;

	}

#catagory ul li ul li a{
	color: #6031b9;
}
#catagory ul li ul li a:hover{
	background: #6031b9;
	color:#fff;
}
	.carousel-item{
		height:350px;
	}
	.carousel-item img{
		width:100%;
		height:100%;
	}

/*search_item style*/
.search_only{
	background: #fff;
}
.search_item_link,.search_item_link:hover{
	color: #333;
}
.search_item_link:hover .search_item_div{
	background: #fff;
	-webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
    box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
.search_item_div{
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 10px;
	border-radius: 3px;
}
.search_item_div img{
	height: 200px;
	overflow: hidden;
}
.item_title{
	font-size: 30px;
}
.item_description{
	margin: 0px;
	padding:0px 0px;
}
@media(max-width: 720px){
	.item_title{
		padding-top: 20px;
		text-align: center;
	}
}

/*form validation ui*/
.error{
	width: 100%;
	display: block;
	color:red;
	padding-left: 10px;
	font-weight: 500;
	font-size: 13px;
}