@charset "utf-8";
/* CSS Document */


#wrapmain
{
	margin:0;
	float:left;
	width:640px;
}
#containerfeedb
{
	margin:0;
	padding:0;
	float:left;
	width:640px;
}

#formboxf
{
	margin:0;
	padding:0;
	float:left;
	width:640px;
	height:470px;
	border:4px solid #4096e1;
}



#topheadingf
{
	float:left;
	padding:0 0 0 0;
	height:68px;
	width:640px;
	background:url(../images/topheading.jpg) 0 0 repeat-x;
	text-align:center;
	color:#fff;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
}
#topheading1
{
	float:left;
	padding:0px 0 0 5px;
	height:53px;
	width:395px;
	background:url(../images/topheading.jpg) 0 0 repeat-x;
	color:#fff;
	font-size:20px;
	font-family:Arial;
	font-weight:bold;
}

#boxf
{
margin:0 0 0 140px;
padding:0;
float:left;
width:36px;
height:36px;
}
#box1f
{
margin:0 0 0 40px;
padding:0;
float:left;
width:300px;
}

 #box2f{margin:-8px 0 -5px 0; float:right; width:25px; height:30px; z-index:1000px;} 
  #box2f a{text-decoration:none;}
#box2
{
margin:0 0 0 0;
padding:0;
float:left;
}
#mainformboxf
{
	margin:0;
	float:left;
	width:640px;
	height:410px;
}

#formbox_leftf
{
	margin:80px 0 0 40px;
	padding:0 5px 0 5px;
	float:left;
	width:145px;
	height:250px;	
	 -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;  
  border:2px solid #a3edf9;
  background-color:#ecfafc;
  color:#000;
	font-size:12px;
	font-family:Arial;
	text-align:justify;
}


#formbox_rightf
{
	margin:10px 20px 0 0px;
	padding:0;
	float:right;
	width:380px;
	height:420px;
}
.formalinf
{
	font-weight:bold;
	text-align:center;
	font-size:15px;
}

.colf
{
	color:#666666;
	background-color:#E1E1E1;
	border:1px solid #000;
	
}
.col1f
{
	color:#000;
	border:1px solid #000;
	
}
.textbox1f
{
	margin:0;
	padding:0 7px 0 0;
	width:80px;
	height:22px;
	float:left;
	text-align:right; font-family:Arial;
}
.textbox2f
{
	margin:0;
	width:37px;
	height:22px;
	float:left;
}
.textbox21f
{
	margin:0;
	width:50px;
	height:50px;
}
.textbox21f-select
{
	width:60px;
	height:22px;
	float:left;
	padding-left:03px;
}
.textbox21f-textarea
{
	margin:0;
	width:90px;
	height:30px;
	float:left;
}

.textboxf
{
	margin:15px 0 0 0px;
	width:380px;
	height:22px;
	float:left;
}
.textbox3f
{
	margin:25px 0 0 118px;
	width:250px;
	height:32px;
	float:left;
}
.textbox4f
{
	margin:15px 0 0 0;
	width:400px;
	height:100px;
	float:left;
}

.roundboxf
{
	background:url(../images/btn1.png) 0 0 no-repeat;
	width:111px;
	height:32px;
	float:left;
	border:none;

}
#select-box { 
width:258px; 
} 
#select-box option { 
width:220px; 
}