@font-face {
  font-family: scadaBold;
  src: url(../fonts/Scada-bold.ttf); }
@font-face {
  font-family: scadaBoldItalic;
  src: url(../fonts/Scada-BoldItalic.ttf); }
@font-face {
  font-family: scadaItalic;
  src: url(../fonts/Scada-Italic.ttf); }
@font-face {
  font-family: scadaRegular;
  src: url(../fonts/Scada-Regular.ttf); }
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'scadaBold', sans-serif; }

body p, a {
  font-family: 'scadaRegular', sans-serif;
  font-size: 20px; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 35px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }

h6 {
  font-size: 25px; }

section {
  padding: 30px 100px; }

@media (max-width: 768px) {
  section {
    padding: 20px; }

  .nopad-mobile {
    padding: 0px; }

  .nomarg-mobile {
    margin: 0px; } }
body {
  transition: 0.5s; }

.nopad {
  padding: 0px; }

.nomarg {
  margin: 0px; }

.navbar {
  margin-bottom: 0px; }

.navbar-default .navbar-nav > li > a {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 25px; }

.navbar-default .navbar-brand {
  padding: 25px; }

.navbar-default .navbar-nav li:hover ul {
  display: block; }
.navbar-default .navbar-nav li ul {
  display: none;
  width: 197px;
  list-style-type: none;
  background: #f1f1f1;
  position: absolute;
  padding: 0px;
  /* top: 0px; */
  z-index: 1; }
  .navbar-default .navbar-nav li ul li a {
    display: block;
    transition: 0.5s;
    padding: 13px 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px; }
    .navbar-default .navbar-nav li ul li a:hover {
      color: #56a2c0;
      padding-left: 33px; }

#carouselSection .sld {
  position: absolute;
  width: 600px;
  height: auto; }
  #carouselSection .sld h1 {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase; }
  #carouselSection .sld h3 {
    text-transform: uppercase;
    font-weight: 700; }
#carouselSection .caption1 {
  top: 150px;
  left: 200px; }
#carouselSection .caption2 {
  top: 230px;
  right: 100px; }
  #carouselSection .caption2 h1 {
    color: #000; }
#carouselSection .caption3 {
  top: 100px;
  right: 0px; }
  #carouselSection .caption3 h3 {
    color: #fff; }
#carouselSection .caption4 {
  top: 250px;
  left: 200px; }
  #carouselSection .caption4 h1 {
    color: #000; }

#footerSection {
  background: #f8f8f8;
  padding: 50px 100px; }
  #footerSection h6 {
    font-size: 23px; }
  #footerSection p {
    font-size: 18px; }
  #footerSection ul {
    list-style-type: none;
    padding-left: 0px; }
    #footerSection ul li::before {
      display: inline-block;
      content: " ";
      width: 12px;
      height: 12px;
      vertical-align: 1px;
      margin-right: 10px;
      border-radius: 10px;
      border: 1px solid #000;
      background: #fff; }
    #footerSection ul li a {
      font-size: 18px; }
  #footerSection .footerform input[type="submit"] {
    width: 150px;
    border-radius: 20px;
    background: blue;
    color: #fff;
    font-size: 18px;
    height: auto;
    margin: 0 auto; }
  #footerSection a {
    font-size: 19px; }

#leftSection .color {
  background: #000;
  color: #fff;
  text-align: justify; }
  #leftSection .color h1 {
    text-align: center;
    padding: 94px; }
#leftSection .nocolor {
  padding: 48px 100px;
  background: #fffacd;
  text-align: justify; }

/*# sourceMappingURL=style.css.map */
